:root {
	--base:#EEE;
	--title-text:#000;
	--menu-text:#333;
	--gray-text:#657b83;
	--yellow:#b58900;
	--orange:#cb4b16;
	--red:#dc322f;
	--magenta:#d33682;
	--violet:#6c71c4;
	--blue:#268bd2;
	--lightblue:#C3EBFF;
	--cyan:#2aa198 ;
	--green:#859900;
}



.gallery-image {display:none}

.gallery-container {
  max-width:980px;
  width: 70%;
  margin:auto;
  position:relative;
  margin-bottom: 50px;
}
.gallery-container:hover {
  /*display:block;*/
}

.gallery-nav {
  text-align:center;
  margin-top:16px;
  margin-bottom:16px;
  position:absolute;
  left:50%;
  bottom:0;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%);
  color: white;
}

.gallery-left {
  float:left;
  padding-left:16px;
  cursor:pointer
}
.gallery-left:hover{
  color:#b4aa50;
}

.gallery-right {
  float:right;
  padding-right:16px;
  cursor:pointer
}
.gallery-right:hover{
  color:#b4aa50;
}

.gallery-indicator {
  cursor:pointer;
  height:10px;
  width:10px;
  /*padding:0;*/
  /*background-color:#FFF;*/
  color:#000;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:0.5px solid #ccc;
  background-color:transparent;
}
.gallery-indicator:hover {
  background-color:#FFF;
}

body {
	/*background-color: rgb(30, 30, 30);*/
	margin:0;
	padding:0;
}

ul.topnav {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;

  /*background-color: #333;*/
  /*background-color: red;*/
  /*height: 50px;*/
}

ul.topnav li {float: right;}
ul.topnav li:first-child {float: left;}

ul.topnav li a {
  	display: inline-block;
  	color:var(--title-text);
  	text-align: center;
  	text-decoration: none;
  	transition: 0.3s;
}
ul.topnav li a.name {
	font-family: "arvo";
	font-size: 26px;
	margin: 30px 0px 30px 60px;

}
@media screen and (max-width:400px) {
  ul.topnav li a.name {
    font-size: 20px;
  }
}

ul.topnav li a.pageTitle {
	font-family: "arvo";
	font-size: 18px;
	margin: 30px 80px 30px 0px;
	transition: 0.3s;
}

ul.topnav li a.pageTitle:hover {
	color: var(--blue);
	border-bottom: solid var(--blue);
	border-bottom-width: 1px;
}

ul.topnav li.icon {display: none;}
ul.topnav li.icon a {
	font-size: 18px;
	margin: 30px 80px 30px 0px;
}

@media screen and (max-width:750px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:750px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; 
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    margin: 40px 60px;
  }
}

span.surname {
	color: var(--blue);
}

div.content {
	/*font-family: "avenir";*/
  font-family: 'Nunito Sans', sans-serif;
	/*background: black;*/
}

div.bottombar{  
  margin: 120px auto 60px;
}

div.signoff{
  font-family: "arvo";
  font-size: 14px;
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  text-align: center;

}

/******** GENERAL SETTINGS *********/

div.title {
	/*color: var(--yellow);*/
	/*background: #000;*/
	width: 380px;
	margin: auto;
	margin-top: 50px;
	/*font-family: "avenir";*/
  font-family: 'Nunito Sans', sans-serif;
	font-size: 28px;
	text-align: center;
}

div.description {
	/*color: var(--yellow);*/
	/*background: #000;*/
	width: 680px;
	margin: auto;
	margin-top: 50px;
	/*font-family: "avenir";*/
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
	font-size: 18px;
	text-align: left;
  /*text-align-last: center;*/
	/*-moz-text-align-last: center; /* Code for Firefox */
}
#about {
  width: 550px;
}
#post_sub_heading {
    font-weight: bold; 
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}

@media screen and (max-width:605px) {
  div.title{
    font-size: 22px;
    /*width: 400px;*/
    width:300px;
  }
  #about {
    width: 350px;
    font-size: 16px;
  }

}
@media screen and (max-width:720px) {
  div.description {
    width: 370px;
    font-size: 16px;
  }
  #post_sub_heading {
    /*font-weight: normal;*/
    font-size: 18px;
  }
}

/*@media screen and (max-width:600px) {
	div.title {
		width:300px;
	}
	div.description {
		width:300px;	
	}
}
*/
div.quote {
  width: 550px;
  margin: auto;
  margin-top: 50px;
  /*font-family: "avenir";*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  /*text-align-last: center;*/
  -moz-text-align-last: center; /* Code for Firefox */
}


/**********ABOUT PAGE**********/

a.link {
	text-decoration: none;
	color: inherit;
	border-bottom: solid var(--blue);
	border-bottom-width: 1px;
	/*font-size: 19px;*/
	transition: 0.3s;
}
a.link:hover{
	color: var(--blue);
}


div#banner {
   	margin: 0px 0px;
	padding: 0;
   	/*margin-top: 20px;*/
   	background-color:#000
   	top: 0;
   	left: 0;
}
div#banner img{
	width:100%;
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div#contact {
	/*background: white;*/
	margin: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 14px;
}
  
#contact img{
	display: inline;
	width: 20px;
	margin: 0 22px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
	cursor: pointer;
}

#contact img:hover{
	opacity: 1.;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


/*img {
	width: 500px;
}*/


/**********PROJECTS PAGE**********/

div#projects {
	/*background: black;*/
	margin-top: 50px;
	text-align: center;  /*Centre list elements horizontally*/
}

ul#rig {
	/*background-color:red;*/
    max-width:900px;
    margin:0 auto; /*center aligned*/
    margin-top: 80px;
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    /*width:25%;*/
    width:300px;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
	/*background:blue;*/
    margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.01);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*background: #3DC0F1 no-repeat center 20%;*/
    background: var(--blue) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.3s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
	/*background:green;*/
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'avenir';*/
    font-family: 'Nunito Sans', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    text-transform: uppercase;
    transition:all .1s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}



/* when screen less than 9000, width is 25%*/
/*@media (max-width: 9000px) { 
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

*/