---
layout: default
---

<div id="banner"> 
	<img src="{{ "assets/banner_orig.png" | relative_url}}"/>
</div>
<div class="title"> 
	Hi there. I'm Kieran, a person<br> from Auckland, New Zealand.
</div>
<div class="description"> 
	I'm currently a Biomedical Engineering PhD student at the University of Auckland developing a device for <a href="http://www.abi.auckland.ac.nz/en/about/our-research/bioinstrumentation/needle-free-jet-injection.html" target="_blank" class="link">needle-free drug delivery.</a>  
</div>
<div class="description"> 
	I also work part-time at <a href="http://www.soulmachines.com" target="_blank" class="link">Soul Machines</a>, developing a machine learning system to animate a virtual human avatar.
</div>
<div class="description"> 
	Sometimes I <a class="link" href="{{ "/projects" | relative_url}}">dabble</a> with plugging wires and pushing buttons to get better at wire plugging and button pushing.
</div>
<div class="description"> 
	 If you're be keen to collaborate or catch up for coffee, <a class="link"> contact me. </a>
</div>
<div id="contact"> 
	<a href="https://nz.linkedin.com/in/kieran-brennan" target="_blank" ><img src="{{ "assets/linkedin_bw.png" | relative_url}}"/></a>
	<a href="https://nz.linkedin.com/in/kieran-brennan" target="_blank" ><img src="{{ "assets/email_bw.png" | relative_url}}"/></a>
	<a href="https://github.com/kbre93" target="_blank" ><img src="{{ "assets/github.png" | relative_url}}"/></a>
</div>
