---
layout: default
---


<div id="projects"> 
    <div class="title"> 
        Let's chat
    </div>
    <div class="description" style="text-align:center"> 
        I'm keen to hear your ideas and share mine.
    </div>
    <div class="description" style="text-align:center"> 
        I can be contacted at <span id="contact-email"></span>.
    </div>
    <div class="description" style="text-align:center"> 
        Also, check out my <a href="https://github.com/kbre93" target="_blank" class="link">Github</a> and <a href="https://nz.linkedin.com/in/kieran-brennan" target="_blank" class="link">LinkedIn</a>.
    </div>
<!-- 	<form action="https://formspree.io/kbre93@gmail.com"
	      method="POST">
	    <input type="text" name="name">
	    <input type="email" name="_replyto">
	    <input type="submit" value="Send">
	</form>
 -->

</div>
