---
layout: default
---
<!-- 
<div class="home">

  <h1 class="page-heading">Posts</h1>
  {{ content }}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

 -->
<div id="banner"> 
  <img src="{{ "assets/banner_orig.png" | relative_url}}"/>
</div>
<div class="title"> 
  Hi there. I'm Kieran, a human from Auckland, New Zealand.
</div>
<div class="description" id="about"> 
  I'm currently completing my PhD in Biomedical Engineering at the University of Auckland. We are developing a device for <a href="http://www.abi.auckland.ac.nz/en/about/our-research/bioinstrumentation/needle-free-jet-injection.html" target="_blank" class="link">needle-free drug delivery.</a>  
</div>
<div class="description" id="about"> 
  I work part-time at <a href="http://www.soulmachines.com" target="_blank" class="link">Soul Machines</a> (formerly <a href="http://www.soulmachines.com" target="_blank" class="link">The LAT</a>), creating a biologically-based neural network to animate a virtual human avatar.
</div>
<div class="description" id="about"> 
  Sometimes I <a class="link" href="{{ "/projects" | relative_url}}">build stuff</a> that makes my life more interesting.
</div>
<div class="description" id="about"> 
   If you're interested in catching up or collaborating, <a class="link" href="{{ "/contact" | relative_url}}"> message me</a>. I consume coffee.
</div>
