---
layout: default
---

<div id="projects"> 
    <div class="title"> 
        {{ page.title }}
    </div>
    <div class="description"> 
      <div class="gallery-container" style="max-width:800px">
        {% for image in site.static_files %}
          {% if image.path contains page.imgDir %}
            <img class="gallery-image" onclick="plusDivs(1)" src="{{ site.url }}{{ image.path }}" style="width:100%">
          {% endif %}
        {% endfor %}
        <div class="gallery-nav" style="width:100%">
          <div class="gallery-left" onclick="plusDivs(-1)">&#10094;</div>
          <div class="gallery-right" onclick="plusDivs(1)">&#10095;</div>
          {% assign iter = 1 %}
          {% for image in site.static_files %}
            {% if image.path contains page.imgDir %}
              <span class="gallery-indicator" onclick="currentDiv({{ iter }})"></span>
              {% assign iter = iter | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
        {{ content }}
    </div>
</div>

<!-- <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
 -->