---
layout: default
---

<div id="projects"> 
    <div class="title"> 
        Projects
    </div>
    <div class="subtitle"> 
        A selection of projects I've whipped together, with more to come.
    </div>
	<ul id="rig">    
		{% for post in site.posts %}
	      <li>
		    <a class="rig-cell" href="{{ post.url | relative_url }}">
	          <img class="rig-img" src="{{ post.imgDir | append:'/' | append:post.previewImg | relative_url}}"/>
	          <span class="rig-overlay"></span>
	          <span class="rig-text">{{ post.title }}</span>
	        </a>
	      </li>
    	{% endfor %}
	</ul>
</div>